// Main SCSS -- START //
.header {
    background-color: transparent;
    background-color: rgba(0,0,0,.125);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    width: 100%;
    position: fixed;
    z-index: 20;
    .header__logo-nav {
        padding: 0;
        margin: 0;
    }
    .header__collections-nav_2 {
        padding: 0;
        margin: 0;
        position: absolute;
        left: 95px;
    }
    .header__collections-nav_1 {
        padding: 0;
        margin: 0;
    }
    &__logo {
        display: inline-block;
        position: relative;
        padding: 0 15px;
        a {
            background-color: var(--black-grey);
            font-size: 2rem;
            color: white;
            text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
            border: 2px solid transparent;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            padding: 5px 15px;
            &:hover {
                color: red;
            }
        }
    }
    &__collections-link {
        display: inline-block;
        position: relative;
        a {
            padding: 0 25px;
            color: white;
            font-size: 1.5rem;
            display: inline-block;
            text-decoration: none;
            &:hover {
                color: red;
            }
        }
    }
}
// Main SCSS -- END //

@media (min-width: 1001px) and (max-width: 3000px) {
    .header {
        .header__mobile-menu-bar {
            display: none !important;
        }
    }
}
@media only screen and (max-width: 1000px) {
    .header {
        .header__collections-nav_1 {
            display: none;
        }
        .header__collections-nav_2 {
            display: none;
        }
        .header__mobile-menu-bar {
            color: var(--white);
            position: relative;
            display: inline-block;
            transition: all 1s ease-in-out;
            padding: 0;
            margin: 0 25px;
            .fa-bars {
                font-size: 1.5rem;
            }
            .mobile-menu-bar__sub {
                z-index: 1;
                visibility: hidden;
                opacity: 0;
                background: var(--black-grey);
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .5);
                position: absolute;
                padding: 20px;
                display: block;
                overflow: hidden;
                align-items: center;
                left: 0%;
                li {
                    display: block;
                    a {
                        display: flex;
                        justify-content: center;
                        font-size: 2rem;
                        color: var(--white);
                        text-decoration: none;
                        padding-top: 15px;
                        padding-bottom: 15px;
                        padding-left: 50px;
                        padding-right: 50px;
                        transition: all 0.3s ease-in-out;
                        &:after {
                            content: '';
                            position: absolute;
                            width: 100%;
                            transform: scaleX(0);
                            height: 2px;
                            bottom: 0;
                            left: 0;
                            background-color: #caa500;
                            transform-origin: bottom right;
                            transition: transform 0.25s ease-out;
                        }
                        &:hover:after {
                            transform: scaleX(1);
                            transform-origin: bottom left;
                        }
                    }
                }
            }
            &:hover {
                .mobile-menu-bar__sub {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

