// Mixin -- START //
@mixin padding_margin-reset {
    padding: 0;
    margin: 0;
}
// Mixin -- END //

// Program -- START //
.program::before { 
    display: block; 
    content: " "; 
    margin-top: -75px; 
    height: 75px; 
    visibility: hidden; 
    pointer-events: none;
}
.program {
    .program__container {
        background-color: black;
        width: 100vw;
        height: 100%;
        overflow: hidden;
        position: relative;
        .program__image-container {
            width: 100vw;
            height: 35vh;
            position: absolute;
            img {
                object-fit: cover;
                object-position: center;
                width: 100vw;
                height: 100%;
                z-index: 1;
            }
        }
        .program__title-container {
            background-color: rgba(0,0,0,0.75);
            position: relative;
            top: 0;
            left: 0;
            // width: 100vw;
            height: 35vh;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            h1 {
                @include padding_margin-reset;
                color: white;
                font-size: 6rem;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
        .program__info-container {
            position: relative;
            width: 100%;
            height: 100%;
            .program__info-row {
                margin: 50px 0px;
                .program__info-col1 {
                    padding: 25px;
                    display: flex;
                    flex-direction: column;
                    .program__col1-info {
                        h2 {
                            @include padding_margin-reset;
                            color: white;
                            font-size: 3rem;
                            font-weight: 700;
                            text-transform: uppercase;
                            padding-top: 15px; 
                        }
                        p {
                            @include padding_margin-reset;
                            color: white;
                            font-size: 1.5rem;
                            line-height: 2rem;
                            margin: 15px 0;
                            width: 95%;
                        }
                    }
                }
                .program__info-col2 {
                    padding: 25px;
                    display: flex;
                    flex-direction: column;
                    .program__col2-info {
                        display: flex;
                        justify-content: space-between;
                        padding: 15px 0px;
                        border-bottom: 2.5px solid white;
                        p {
                            @include padding_margin-reset;
                            display: inline-block;
                            color: white;
                            font-size: 2rem;
                        }
                        .fa-solid {
                            @include padding_margin-reset;
                            display: inline-block;
                            color: white;
                            font-size: 2rem;
                            padding-top: 7.5px;
                            transition: all .3s ease-in-out;
                            cursor: pointer;
                            &:hover {
                                color: red;
                            }
                        }
                    }
                }
            }
            .program__box-row {
                padding: 5px;
                .program__box-col {
                    position: relative;
                    .box-img {
                        position: relative;
                        width: 100%;
                        height: 40vh;
                        img {
                            border-radius: 25px;
                            object-fit: cover;
                            object-position: 50% 50%;
                            width: 100vw;
                            height: 100%;
                            z-index: 1;
                        }
                    }
                }
            }
            .program__pricing-row {
                margin: 50px auto;
                .program__pricing-title {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .program__title-info {
                        text-align: center;
                        h3 {
                            font-size: 3rem;
                            font-weight: 700;
                            text-transform: uppercase;
                            color: white;
                        }
                        p {
                            font-size: 1.5rem;
                            color: white;
                        }
                    }
                }
                .program__pricing-col {
                    position: relative;
                    .program__pricing-info {
                        height: 100%;
                        background-color: var(--black-grey);
                        color: white;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        padding: 15px;
                        border-radius: 25px;
                        .pricing-plan {
                            text-align: center;
                            font-size: 2rem;
                            font-weight: 700;
                        }
                        .pricing-divider {
                            border: 2.5px solid white;
                            background-color: white;
                            width: 75%;
                            margin-bottom: 1rem;
                        }
                        .pricing-benefits {
                            height: 100%;
                            font-size: 1.25rem;
                        }
                        .pricing-link {
                            margin: 15px;
                            display: flex;
                            justify-content: space-between;
                            a {
                                text-decoration: none;
                                color: white;
                                text-align: center;
                                font-size: 1.5rem;
                                border: 2.5px solid white;
                                border-radius: 25px;
                                padding: 10px 20px;
                                transition: all .3s ease-in-out;
                                &:hover {
                                    background-color: white;
                                    color: var(--black-grey);
                                }
                            }
                            
                        }
                    }
                }
            }
            .program__promo-row {
                margin-bottom: 50px;
                .program__promo-col {
                    border: 5px solid transparent;
                    .program__promo-info {
                        background: linear-gradient(180deg, #FF0055 0%, #540b0e 100%, #9e2a2b 100%);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border-radius: 25px;
                        padding: 15px;
                        .promo__cta {
                            color: white;
                            p {
                                font-size: 6vw;
                                font-weight: 700;
                                text-align: center;
                            }
                        }
                        .promo__cta-input {
                            background-color: white;
                            border-radius: 5px;
                            padding: 15px;
                            width: 50%;
                            margin-bottom: 2rem;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            input {
                                @include padding_margin-reset;
                                background: transparent;
                                outline: none;
                                border: none;
                                margin-right: 7.5px;
                            }
                            i {
                                @include padding_margin-reset;
                                color: black;
                                cursor: pointer;
                                &:hover {
                                    color: red;
                                }
                            }    
                        }  
                    }
                    
                }
            }
        }
    }
}
// Program -- END //

// MEDIA QUERIES (TITLE B.P.) -- START //
@media only screen and (max-width: 525px) {
    .program {
        .program__container {
            .program__title-container {
                h1 {
                    font-size: 5rem;   
                }
            }
        }    
    }  
}
@media only screen and (max-width: 435px) {
    .program {
        .program__container {
            .program__title-container {
                h1 {
                    font-size: 3.5rem;   
                }
            }
        }    
    }  
}
// MEDIA QUERIES (TITLE B.P.) -- END //

// Media Queries -- START //
@media only screen and (max-width: 575px) {
    .program {
        .program__container {
            .program__info-container {
                .program__promo-row {
                    .program__promo-col {
                        .program__promo-info {
                            .promo__cta-input {
                                width: 60%;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 400px) {
    .program {
        .program__container {
            .program__info-container {
                .program__promo-row {
                    .program__promo-col {
                        .program__promo-info {
                            padding: 20px;
                            .promo__cta {
                                p {
                                    font-size: 9vw;
                                }
                            } 
                            .promo__cta-input {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
// Media Queries -- END //